@import './styles/card.scss';
@import './styles/description.scss';
@import './styles/home.scss';
@import './styles/nav.scss';
@import './styles/search.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.container-grid {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}

.container--small {
  width: 70%;
}